<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renex Engenharia</title>
</head>
<body>
    <main id="container">
    </main>
    <section id="simulator">
        <form id="form">
            <h1>Simulador de Orçamento</h1>
            <div class="input-box">
                <input type="text" id="name" placeholder="Nome Completo">
            </div>
            <div class="input-box"> 
                <input type="number" id="cellphone" placeholder="Celular">
            </div>
            <div class="input-box">
                <input type="text" id="segment" placeholder="Segmento">
            </div>

            <div class="Consumption">
                <select id="type">
                    <option value="" disabled selected>Selecione</option>
                    <option value="first">R$150</option>
                </select>
            </div>
        </form>
    </section>
</body>
</html>